.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --bg-color: #fff;
  --text-color: #000;
  --nav-text-color: silver;
  --nav-bg-color: #282c34;
  --btn-text-color: royalblue;
  --preview-bg-color: white;
}

.true{
  --nav-bg-color: #fff;
  --bg-color: #000; 
  --nav-text-color: #000;
  --text-color: #fff;
  --preview-bg-color: #fff; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
}

nav{
  display: flex;
  align-items: center;
  padding: 1rem 6rem;
  background-color: var(--nav-bg-color);
  transition: 0.5s;
}

nav ul{
  display: flex;
  list-style: none;
  margin-left: 3rem;
  align-items: center;
}

nav ul li{
  padding: 0 1rem;
}

nav a{
  text-decoration: none;
  color: var(--nav-text-color);
}

.menu-btn{
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 6rem;
}

.path1, .path2{
  stroke-dasharray: 104;
  stroke-dashoffset: -71;
  transition: 1s all ease;
  stroke: var(--bg-color);
}

.cross{
 stroke-dashoffset: 68;
}

.mline{
 stroke-dasharray: 41;
 stroke-dashoffset: -82;
 transition: 1s all ease;
 stroke: var(--bg-color);
}

.hide{
 stroke-dasharray: 43;
 stroke-dashoffset: 130;
}

.toggle{
  position: absolute;
  display: flex;
  top: 1.2rem;
  right: 10.5rem;
}

.text-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2.5rem 10rem;
}

.text-container h1{
  color: var(--nav-bg-color);
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
  border-image-slice: 1;
}

.btns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.convert-btn{
  background-color: var(--bg-color);
  color: var(--nav-bg-color);
  padding: 6px 20px;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--btn-text-color);
  border-radius: 5px;
}

.convert-btn:hover{
  background-color: var(--btn-text-color);
  color: var(--bg-color);
}

.input{
  border-radius: 8px;
  padding: 1rem;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  transition: 180ms box-shadow ease-in-out;
}

.input:focus{
  border-color: royalblue;
  box-shadow: 0 0 0 3px hsla(245, 100%, calc(42% + 40%), 0.8);
  outline: 3px solid transparent;
}

.copy-btn{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 9rem;
  top: 18.8rem;
  font-size: 1.1rem;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: white;
  background-color: rgb(125, 125, 252);
  border: none;
}

.summary-container{
  margin-top: 1rem;
  color: var(--text-color);
}

.preview-container{
  min-height: 15em;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--preview-bg-color);
  border: 1px solid var(--nav-bg-color);
  border-radius: 0.5rem;
}

.contact-outer{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container{
  width: 100%;
  height: 100vh;
  background: url(./contact.jpg) no-repeat left;
  background-size: 55%;
  background-color: var(--bg-color);
  overflow: hidden;
  padding: 95px 0;
}

.contact-inner{
  width: 55%;
  display: flex;
  flex-direction: column;
  float: right;
  background-color: var(--bg-color);
  padding: 120px 150px;
}

.contact-inner h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  color: var(--text-color);
  width: fit-content;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
  border-image-slice: 1;
}

.contact{
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-color);
  background-color: var(--bg-color);
  padding: 5px 0;
}

.contact:focus{
  border-color: royalblue;
}

label{
  letter-spacing: 2px;
  color: var(--text-color);
  font-size: 0.8rem;
}

.send-btn{
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
  letter-spacing: 2px;
  background: #fff;
  border: 3px solid transparent;
  border-image: linear-gradient(-45deg, #2ae88a 0%, #08aeea 100%);
  border-image-slice: 1;
}

.send-btn:hover{
  background: linear-gradient(-45deg, #2ae88a 0%, #08aeea 100%);
  color: #fff;
}

.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
  color: var(--text-color);
}

@media only screen and (max-width: 1216px){

  .convert-btn{
    padding: 5px;
    font-size: 1rem;
  }
  
  .image-container{
    padding: 110px 0;
  }

  .contact-inner{
    padding: 90px;
  }

}

@media only screen and (max-width: 1024px){

  .text-container{
    margin: 2.5rem 6rem;
  }

  .toggle{
    right: 6rem;
  }

  .btns{
    flex-direction: column;
    justify-content: center;
  }

  .convert-btn{
    margin: 0.6rem;
  }

  .copy-btn{
    right: 5rem;
  }

  .image-container{
    background-size: 100%;
    padding: 100px 90px;
  }

  .contact-inner{
    width: 100%;
  }
}

@media only screen and (max-width: 768px){

  nav{
    padding: 1rem 3rem;
  }

  nav ul{
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    height: calc(100%);
    left: calc(-100% - 3rem);
    background: var(--nav-bg-color);
    overflow: hidden;
    top: 3rem;
    transition: 0.5s;
    z-index: 1;
  }

  nav ul.active{
    left: -3rem;
  }

  nav ul li{
    margin: 3rem 0;
    letter-spacing: 3px;
  }

  .toggle{
    right: 7rem;
  }

  .menu-btn{
    display: flex;
    right: 3rem;
  }

  .text-container{
    margin: 2.5rem 3rem;
  }

  .copy-btn{
    top: 19rem;
    right: 2.3rem;
    height: 1.6rem;
    width: 1.6rem;
    font-size: 0.9rem;
  }

  .image-container{
    padding: 0;
    background-size: 0;
  }

  .contact-inner{
    padding: 3rem;
  }

  .contact{
    margin: 1rem 0;
  }

}

@media only screen and (max-width: 480px){
 
  nav{
    padding: 1rem;
  }

  .toggle{
    right: 4.5rem;
  }

  .menu-btn{
    right: 1rem;
  }

  .text-container{
    margin: 2rem 1rem;
  }

  .text-container h1{
    font-size: 1.6rem;
  }

  .copy-btn{
    top: 18.5rem;
    right: 0.4rem;
  }

  .contact-inner{
    padding: 2rem;
  }

  .contact-inner h1{
    font-size: 1.6rem;
  }

  .skills span{
    font-size: 0.6rem;
  }

  .send-btn{
    width: 100%;
  }

}